Source: noopenh264
Section: libs
Priority: optional
Maintainer: Endless <support@endlessm.com>
Homepage: https://github.com/endlessm/noopenh264
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 13), meson

Package: libnoopenh264-6
Architecture: any
Multi-Arch: same
Conflicts: libopenh264-6
Provides: libopenh264-6
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dummy implementation of the API from the shared library from Cisco

Package: libnoopenh264-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts: libopenh264-dev
Provides: libopenh264-dev
Depends: libnoopenh264-6 (= ${binary:Version}), ${misc:Depends}
Description: Dummy implementation of the API from the shared library from Cisco
 This package contains development files.
